
@{
    ViewBag.Title = "File Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}	<!-- MAIN CONTENT -->

<style>
    .container {
        max-width: 1170px;
        margin: auto;
    }

    img {
        max-width: 100%;
    }

    .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 40%;
        border-right: 1px solid #c4c4c4;
    }

    .inbox_msg {
        border: 1px solid #c4c4c4;
        clear: both;
        overflow: hidden;
    }

    .top_spac {
        margin: 20px 0 0;
    }


    .recent_heading {
        float: left;
        width: 40%;
    }

    .srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%;
    }

    .headind_srch {
        padding: 10px 29px 10px 20px;
        overflow: hidden;
        border-bottom: 1px solid #c4c4c4;
    }

    .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
    }

    .srch_bar input {
        border: 1px solid #cdcdcd;
        border-width: 0 0 1px 0;
        width: 80%;
        padding: 2px 0 4px 6px;
        background: none;
    }

    .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
    }

    .srch_bar .input-group-addon {
        margin: 0 0 0 -27px;
    }

    .chat_ib h5 {
        font-size: 15px;
        color: #464646;
        margin: 0 0 8px 0;
    }

        .chat_ib h5 span {
            font-size: 13px;
            float: right;
        }

    .chat_ib p {
        font-size: 14px;
        color: #989898;
        margin: auto
    }

    .chat_img {
        float: left;
        width: 11%;
    }

    .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
    }

    .chat_people {
        overflow: hidden;
        clear: both;
    }

    .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
    }

    .inbox_chat {
        height: 550px;
        overflow-y: scroll;
    }

    .active_chat {
        background: #ebebeb;
    }

    .incoming_msg_img {
        display: inline-block;
        width: 6%;
    }

    .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
    }

    .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
    }

    .received_withd_msg {
        width: 57%;
    }

    .mesgs {
        float: left;
        padding: 30px 15px 0 25px;
        width: 60%;
    }

    .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0;
        color: #fff;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .outgoing_msg {
        overflow: hidden;
        margin: 26px 0 26px;
    }

    .sent_msg {
        float: right;
        width: 46%;
    }

    .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
    }

    .type_msg {
        border-top: 1px solid #c4c4c4;
        position: relative;
    }

    .msg_send_btn {
        background: #05728f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
    }

    .messaging {
        padding: 0 0 50px 0;
    }

    .msg_history {
        height: 516px;
        overflow-y: auto;
    }
</style>

<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-table fa-fw "></i>
                Search Files
                <span>
                    > Files Listing
                </span>
            </h1>
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Files </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                                <thead>
                                    @*<tr>
                                            <th class="hasinput" style="width:17%">
                                                <input type="text" class="form-control" placeholder="Filter File No" />
                                            </th>
                                            <th class="hasinput" style="width:17%">
                                                <input type="text" class="form-control" placeholder="Filter Document Name" />
                                            </th>
                                            <th class="hasinput" style="width:17%">
                                                <input type="text" class="form-control" placeholder="Filter Name" />
                                            </th>
                                            <th class="hasinput" style="width:17%">
                                                <input type="text" class="form-control" placeholder="Filter Identity No" />
                                            </th>
                                            <th class="hasinput" style="width:16%">
                                                <input type="text" class="form-control" placeholder="Filter PIC" />
                                            </th>
                                            <th class="hasinput" style="width:16%">
                                                <input type="text" class="form-control" placeholder="Filter Address" />
                                            </th>
                                            <th class="hasinput" style="width:17%">
                                                <input type="text" class="form-control" placeholder="Filter Aging" />
                                            </th>
                                            <th class="hasinput icon-addon">
                                                <input id="dateselect_filter" type="text" placeholder="Filter Date" class="form-control datepicker" data-dateformat="dd/mm/yyyy">
                                                <label for="dateselect_filter" class="glyphicon glyphicon-calendar no-margin padding-top-15" rel="tooltip" title="" data-original-title="Filter Date"></label>
                                            </th>
                                            <th class="hasinput" style="width:16%">
                                                <input type="text" class="form-control" placeholder="Filter Price" />
                                            </th>
                                        </tr>*@
                                    <tr>
                                        <th data-class="expand">File No</th>
                                        <th data-class="expand">Document Name</th>
                                        <th data-class="expand">Client Name</th>
                                        <th data-class="expand">Client Identity No</th>
                                        <th>Clerk in Charge</th>
                                        <th>Option</th>
                                        @*<th data-hide="phone">Address</th>*@
                                        @*                                        <th data-hide="phone">Aging (days)</th>*@
                                        @*<th data-hide="phone,tablet">Created date</th>*@
                                        @*<th data-hide="phone,tablet">Price</th>*@
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>


                            </table>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

            <div id="verModal" class="modal modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"><span id="vermodalheader"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table id="vertbl" class="table">
                                <thead>
                                    <tr>
                                        <th>Workflow Master Description</th>
                                        <th>Description</th>
                                        <th>Status </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="chatModal" class="modal modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="width:125%">
                        <div class="modal-header">
                            <h5 class="modal-title"><span id="chatModalheader">Live Chat</span></h5>
                            <button type="button" class="close" data-dismiss="modal2" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="messaging">
                                    <div class="mesgs">
                                        <div class="msg_history" id="msgHistory">                                           
                                            @*<div class="incoming_msg">
                                                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                <div class="received_msg">
                                                    <div class="received_withd_msg">
                                                        <p>Test, which is a new approach to have</p>
                                                        <span class="time_date"> 11:01 AM    |    Yesterday</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="outgoing_msg">
                                                <div class="sent_msg">
                                                    <p>Apollo University, Delhi, India Test</p>
                                                    <span class="time_date"> 11:01 AM    |    Today</span>
                                                </div>
                                            </div>*@
                                            @*<div class="incoming_msg">
                                                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                <div class="received_msg">
                                                    <div class="received_withd_msg">
                                                        <p>
                                                            We work directly with our designers and suppliers,
                                                            and sell direct to you, which means quality, exclusive
                                                            products, at a price anyone can afford.
                                                        </p>
                                                        <span class="time_date"> 11:01 AM    |    Today</span>
                                                    </div>
                                                </div>
                                            </div>*@
                                        </div>
                                        <div class="type_msg">
                                            <div class="input_msg_write">
                                                <input type="text" class="write_msg" placeholder="Type a message" id="msgBox"/>
                                                <button class="msg_send_btn" type="button" id="msgSendBtn" ><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- end row -->
        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            /* // DOM Position key index //

            l - Length changing (dropdown)
            f - Filtering input (search)
            t - The Table! (datatable)
            i - Information (records)
            p - Pagination (paging)
            r - pRocessing
            < and > - div elements
            <"#id" and > - div with an id
            <"class" and > - div with a class
            <"#id.class" and > - div with an id and class

            Also see: http://legacy.datatables.net/usage/features
            */

            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#dt_basic').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            /* END BASIC */

            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetFileListing", "File", new { area = "Files" })",
                    "type": "POST",
                    "datatype": "json"
                },
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                },
                "columns": [
                    {
                        "data": "FileNo", "searchable": true,
                        fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html("<a href='/Files/file/FileDetails?fileNo=" + oData.FileNo + "'>" + oData.FileNo + "</a>");
                        }
                    },
                    {
                        "data": "FileName",
                    },
                    {
                        "data": "ClientName",
                    },
                    {
                        "data": "ClientIdentityNo",
                    },
                    {
                        "data": "PartnerName",
                    },
                    { 'data': null, title: 'Action', wrap: true, "render": function (item) { return '<div class="btn-group"> <button type="button" onclick="openModal(' + item.ID + ')" class="btn btn-success" data-toggle="verModal" data-target="#verModal">View Workflow</button> <button type="button" onclick="openChat(\'' + item.FileNo + '\')" class="btn btn-warning" data-toggle="chatModal" data-target="#chatModal">Live Chat</button></div>' } },

                ],
                search: {
                    return: true,
                },
            });
        });

        function openModal(vdata) {
            $('#vertbl').DataTable().clear().destroy();
             console.log("Open model")
             $('#verModal').modal('toggle');

             verTableElem = $('#vertbl').DataTable({
                 "ajax": {
                    "url": "@Url.Action("GetWorkflow", "File", new { area = "Files" })?fileId=" + vdata,
                    "type": "POST",
                    "datatype": "json"
                },
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "columns": [
                    {
                        "data": "WorkFlowMasterDesc",
                    },
                    {
                        "data": "Description",
                    },
                    {
                        "data": "IsCompleted",
                    },
                ],
             });
        }

        var userId = "";
        var roomName = "";

        function openChat(data) {
            console.log("Open chat model")
            $('#chatModal').modal('toggle');
            roomName = data;
            //load chat
            $.ajax({
                url: "@Url.Action("GetUserId", "File")",
                type: "GET",
                dataType: "json",
                success: function (result, status, xhr) {
                    userId = result.AspNetUserID;
                    $.ajax({
                        url: "@Url.Action("GetByRoomName", "File")?roomName=" + roomName,
                        type: "GET",
                        dataType: "json",
                        success: function (result, status, xhr) {                           
                            $.each(result, function (key, value) {
                                console.log(value);
                                if (value["CustomerName"] == userId) {
                                    addOutgoingMsg(value["Message"], value["CreatedDate"])
                                } else {
                                    addIncomingMsg(value["Message"], value["CreatedDate"])
                                }
                            });
                        },
                        error: function (xhr, status, error) {
                            alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                        }
                    });
                },
                error: function (xhr, status, error) {
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });

        }

        function addIncomingMsg(message, createdDate ) {

            var message = "<div class='incoming_msg'>" +
                            "<div class='incoming_msg_img'><img src='https://ptetutorials.com/images/user-profile.png' alt='sunil'></div>" +
                                "<div class='received_msg'>" +
                                    "<div class='received_withd_msg'>" +
                                        "<p>" +
                                        message +
                                        "</p>" +
                                        "<span class='time_date'>" + createdDate + "</span>" +
                                    "</div>" +
                                "</div>" +
                        "</div>";

            var div = document.getElementById("msgHistory");
            div.insertAdjacentHTML('beforeend', message);
        }

        function addOutgoingMsg(message,createdDate) {
            var message = "<div class='outgoing_msg'>" +
                            "<div class='sent_msg'>" +
                                "<p>" + message +
                                "</p>" +
                             "<span class='time_date'>" +createdDate+"</span>"
                            "</div>" +
                         "</div>";

            var div = document.getElementById("msgHistory");
            div.insertAdjacentHTML('beforeend', message);
        }

        function sendMessage() {

            var message = document.getElementById("msgBox");
            console.log()
             var jsonObj = {
                 CustomerName: userId,
                 Message: message.value,
                 RoomName: roomName,
            };

            $.ajax({
                url: "@Url.Action("SendMessage", "File" , new { area = "Files" })",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(jsonObj),
                success: function (result, status, xhr) {
                    console.log(result);
                    if (result === "OK") {
                        ReloadChat();
                    }
                },
                error: function (xhr, status, error) {
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
        }

        function ReloadChat() {
            var div = document.getElementById("msgHistory");
            div.innerHTML = "";
             $.ajax({
                url: "@Url.Action("GetByRoomName", "File")?roomName=" + roomName,
                type: "GET",
                dataType: "json",
                success: function (result, status, xhr) {
                    $.each(result, function (key, value) {
                        if (value["CustomerName"] == userId) {
                            addOutgoingMsg(value["Message"], value["CreatedDate"])
                        } else {
                            addIncomingMsg(value["Message"], value["CreatedDate"])
                        }
                    });

                    var message = document.getElementById("msgBox");
                    message.value = "";

                },
                error: function (xhr, status, error) {
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
             });
        }


        $("#msgBox").keyup(function (event) {
            if (event.keyCode === 13) {
                sendMessage();
            }
        });

        $("#msgSendBtn").click(function () {
            sendMessage();
        });

    </script>
}