<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>IDS VLS</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @RenderSection("styles", required: false)
    <!-- #CSS Links -->
    <!-- Basic Styles -->
    @Styles.Render("~/content/commonDisplayLayout")

    <!-- Custom Style-->
    @Styles.Render("~/content/customstyle")
    @Styles.Render("~/content/customstylegeneral")

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="~/Content/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/img/favicon/favicon.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>

<body class="outter_resetpw">
    <div class="row resetpw_wrapper">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"> </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            @RenderBody()
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"> </div>
    </div>
    <div class="text-align-center font-xs"><p>Copyright &copy; Mega Fortris - @DateTime.Now.Year</p></div>

    <!--================================================== -->
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/libs/jquery-2.1.1.min.js"></script>
    @Scripts.Render("~/scripts/jqueryval")
    @Scripts.Render("~/scripts/displayLayoutScript")

    <!--[if IE 8]>

                <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

            <![endif]-->
</body>
</html>
