@model CMSLcLy.Data.Workflow.WorkflowItemViewModel

@{
    ViewBag.Title = "Edit Check List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">


    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->

        <div class="row">

            <article class="col-sm-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-orange" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Check List</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div class="panel-group smart-accordion-default" id="accordion-2">
                                <div class="panel panel-default">
                                    <div id="collapse-1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            @using (Html.BeginForm("Save", "WorkFlow", new { Area = "SystemSetting" }, FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.HiddenFor(m => Model.ID)
                                                <div class="form-horizontal">
                                                    <fieldset>
                                                        <legend>
                                                            Check List Information
                                                        </legend>

                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.WorkflowDescrption, htmlAttributes: new { @class = "control-label col-md-2" })
                                                            <div class="col-md-10">
                                                                @Html.EditorFor(model => model.WorkflowDescrption, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.WorkflowDescrption, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.CriticalDuration, htmlAttributes: new { @class = "control-label col-md-2" })
                                                            <div class="col-md-10">
                                                                @Html.EditorFor(model => model.CriticalDuration, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.CriticalDuration, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.WorkflowTotalDuration, htmlAttributes: new { @class = "control-label col-md-2" })
                                                            <div class="col-md-10">
                                                                @Html.EditorFor(model => model.WorkflowTotalDuration, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                @Html.ValidationMessageFor(model => model.WorkflowTotalDuration, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>


                                                    </fieldset>

                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                @Html.ActionLink("Cancel", "Index", "WorkFlow", new { area = "SystemSetting" }, new { @class = "btn btn-default" })

                                                                <button class="btn btn-primary" type="submit">
                                                                    <i class="fa fa-save"></i>
                                                                    Save
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*hereya*@

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>



            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
                    <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Check List Step</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                                <thead>
                                    <tr>
                                        <th class="hasinput" style="width:17%">
                                            <input type="text" class="form-control" placeholder="Filter Checklist Step" />
                                        </th>
                                        <th class="hasinput" style="width:17%">
                                        <input type="text" class="form-control" placeholder="Filter Checklist Step BM" />
                                        </th>
                                        <th class="hasinput" style="width:16%">
                                            <input type="text" class="form-control" placeholder="Filter Checklist Step EN" />
                                        </th>
                                        <th class="hasinput" style="width:16%">
                                            <input type="text" class="form-control" placeholder="Filter Duration" />
                                        </th>
                                        <th class="hasinput" style="width:16%">
                                            <input type="text" class="form-control" placeholder="Filter Sequence" />
                                        </th>
                                        <th class="hasinput" style="width:16%">
                                            @Html.ActionLink("Create New", "Create", "WorkflowMaster",new { area = "SystemSetting" }, new { @class = "btn btn-info" })

                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-class="expand">Checklist Step</th>
                                        <th data-class="expand">Checklist Step BM</th>
                                        <th data-class="expand">Checklist Step EN</th>
                                        <th data-class="expand">Duration</th>
                                        <th data-class="expand">Sequence</th>
                                        <th data-hide="phone,tablet">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model != null && Model.WorkFlowMasters.Count() > 0)
                                    {

                                        foreach (var item in Model.WorkFlowMasters)
                                        {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WorkFlowMasterDesc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WorkFlowMasterDesc_BM)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WorkFlowMasterDesc_CN)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WorkFlowMasterDuration)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sequence)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { area = "SystemSetting", Controller= "WorkflowMaster", id = item.ID })  |
                                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                        </td>
                                    </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6" class="text-center"> No Record found!  </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>

        <!-- end row -->


    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="/scripts/plugin/maxlength/bootstrap-maxlength.min.js"></script>
    <script src="/scripts/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="/scripts/plugin/clockpicker/clockpicker.min.js"></script>
    <script src="/scripts/plugin/bootstrap-tags/bootstrap-tagsinput.min.js"></script>
    <script src="/scripts/plugin/noUiSlider/jquery.nouislider.min.js"></script>
    <script src="/scripts/plugin/ion-slider/ion.rangeSlider.min.js"></script>
    <script src="/scripts/plugin/bootstrap-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <script src="/scripts/plugin/colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="/scripts/plugin/knob/jquery.knob.min.js"></script>
    <script src="/scripts/plugin/x-editable/moment.min.js"></script>
    <script src="/scripts/plugin/x-editable/jquery.mockjax.min.js"></script>
    <script src="/scripts/plugin/x-editable/x-editable.min.js"></script>
    <script src="/scripts/plugin/typeahead/typeahead.min.js"></script>
    <script src="/scripts/plugin/typeahead/typeaheadjs.min.js"></script>

    <script type="text/javascript">


    </script>
}


